@model List<Chat.Models.Message>
<ul>
	@foreach(var item in Model)
 {
		<li message-id="@item.Id"><span class="message-user" user-id="@item.CreateUserId">
			@item.CreateUserName
		</span><span class="message-date" date="@item.CreateDateTime">
			@item.CreateDateTime.ToString("h:mm")
		</span>
			<p class="message-text">
				@item.Text
			</p>
		</li>
 }
</ul>
